:root {

    --clr-primary-light-red: hsl(0, 100%, 67%);
    --clr-primary-orangey-yellow: hsl(39, 100%, 56%);
    --clr-primary-green-teal: hsl(166, 100%, 37%);
    --clr-primary-cobalt-blue: hsl(234, 85%, 45%);

    --clr-gradient-light-slate-blue: hsl(252, 100%, 67%);
    --clr-gradient-light-royal-blue: hsl(241, 81%, 54%);
    --clr-gradient-violet-blue: hsla(256, 72%, 46%, 1);
    --clr-gradient-persian-blue: hsla(241, 72%, 46%, 0);

    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-pale-blue: hsl(221, 100%, 96%);
    --clr-neutral-light-lavender: hsl(241, 100%, 89%);
    --clr-neutral-dark-gray-blue: hsl(224, 30%, 27%);

}

/* css reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
}

/* Utilities */

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}



/* Score Section */

#results__score-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    padding: 1rem 3rem 1rem 3rem;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    text-align: center;
}

#results__score-title {
    font-size: 1.05em;
    font-weight: 500;
    color: var(--clr-neutral-light-lavender)
}

.gradiant-circle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background: linear-gradient(0deg, hsla(256, 100%, 48%, 0), hsla(256, 72%, 46%, 1));
    border-radius: 50%;
    width: 150px;
    height: 150px;

    margin: .5em;

}

#results__score {
    font-size: 50px;
    font-weight: 800;
    color: var(--clr-neutral-pale-blue);
}


#results__score-subtext {
    margin-bottom: 1em;
    color: var(--clr-neutral-light-lavender);
}

#results__score-word {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--clr-neutral-pale-blue);
}

#results__score-word-subtext {
    color: var(--clr-neutral-light-lavender);
}

/* Summary Segment */